body {
         font-family: Arial, sans-serif;
         margin: 0;
         padding: 0;
         color: #333;
     }
     
     header {
         background-color: #4CAF50;
         color: white;
         padding: 10px 0;
         text-align: center;
     }
     #buyers{position: absolute;
        left: 22%;
        width: 50vw;
        height: 50vh;
     }
     #farmers{position: absolute;
        left: 22%;
        width: 50vw;
        height: 50vh;
     }
     nav ul {
         list-style-type: none;
         padding: 0;
     }
     nav li:hover{
         text-decoration: underline;
     }
     
     nav ul li {
         display: inline;
         margin: 0 10px;
     }
     
     nav ul li a {
         color: white;
         text-decoration: none;
     }
     
     section {
         padding: 20px;
         margin: 10px;
     }
     
     form {
         display: flex;
         flex-direction: column;
     }
     
     form label {
         margin: 5px 0;
     }
     
     form input {
         padding: 10px;
         margin-bottom: 10px;
         height: 1vh;
     }
     
     button {
         padding: 10px;
         background-color: #4CAF50;
         color: white;
         border: none;
         cursor: pointer;
     }
     
     footer {
         background-color: #4CAF50;
         color: white;
         text-align: center;
         padding: 10px 0;
         position: fixed;
         width: 100%;
        bottom:0;
     }
 
     #location-container {
        text-align: center;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    button:hover {
        background-color: #45a049;
    }
    p {
        margin: 10px 0;
    }
   /*  #requestLocation{
        position: absolute;
        top: 15%;
        right: 3%;
    } */
     #Submit09 a{
        color: white;
        text-decoration: none;
     }